* {
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #dee2e6;
}

header {
  font-size: 48px;
  text-align: center;
  background-color: #212529;
  color: #dee2e6;
  padding: 12px 24px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* justify-content: center; */
  margin: 24px auto;
}

.sidebar {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.change-size {
  box-sizing: content-box;
  background-color: #343a40;
  color: #ced4da;
  font-size: 24px;
  font-weight: 300;
  padding: 8px 16px;
  border-style: none;
  border-radius: 8px;
}

.sidebar label {
  font-size: 24px;
}

.grid-wrap {
  display: flex;
  align-items: center;
}

.grid {
  /* margin-left: auto; */
  flex-shrink: 0;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  padding: 0;
}

.box {
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.change-size:hover {
  cursor: pointer;
  background-color: #212529;
  border-radius: 8px;
  border: 5px solid #adb5bd;
}

footer {
  text-align: center;
  color: #adb5bd;
  background-color: #212529;
  font-size: 24px;
  font-weight: 650;
  padding: 8px 16px;
  margin: 0;
}
